[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restx = "*"
tern = "*"

[dev-packages]
black = "*"
isort = "*"
tox = "*"
pytest = "*"
coverage = "*"
flake8 = "*"

[requires]
python_version = "3.9"
